
.imgb{

	background-image: url('../images/Version-control-Tools (1).jpg');
	background-position: center;
	background-size: cover;
	height: 400px;
}
.myimg{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 100px;
	display: block;
	padding-bottom:10px;
}
.items{
	text-align: center;
	margin-bottom: 100px;
}
